<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Secret Recipe</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <style>
        body {
            background-color: aliceblue;
            color: brown;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1 class="class">Cream Cheese Blondies Recipe</h1>
    <h3>Ingredients: </h3>
    <ul>
        <li>1/2 cup butter</li>
        <!-- ... other ingredients ... -->
    </ul>
    <h3>Method: </h3>
    <ol>
        <li>Preheat oven to 350 degrees F (175 degrees C).</li>
        <!-- ... other steps ... -->
    </ol>
</body>